In [1]:
import pandas as pd
import datetime as dt

In [2]:
!dir

 ’®¬ ў гбва®©бвўҐ C ­Ґ Ё¬ҐҐв ¬ҐвЄЁ.
 ‘ҐаЁ©­л© ­®¬Ґа в®¬ : 7496-5BB4

 ‘®¤Ґа¦Ё¬®Ґ Ї ЇЄЁ C:\projects\DS_lessons

26.10.2020  22:12    <DIR>          .
26.10.2020  22:12    <DIR>          ..
26.10.2020  22:11    <DIR>          .ipynb_checkpoints
18.10.2020  10:56           116я198 AFKS.csv
28.09.2020  09:51               323 appending_files.py
18.10.2020  10:57    <DIR>          Companies
17.10.2020  09:38         3я689я225 Companies'_stocks_updated.csv
17.10.2020  10:14         3я849я482 Companies'_stocks_updated.xlsx
23.10.2020  19:55               570 debug.log
22.09.2020  18:47    <DIR>          env
20.10.2020  18:55            12я852 Filling data.ipynb
18.10.2020  10:56           116я505 GAZP.csv
26.10.2020  22:11           413я488 Grafic_akcii-Copy1.ipynb
26.10.2020  19:45           413я488 Grafic_akcii.ipynb
18.10.2020  10:56           108я755 KMAZ.csv
22.09.2020  22:10            61я228 Lesson1.ipynb
23.09.2020  15:19            13я597 Lesson2.ipynb
23.09.2020  15:47            23я145 Lesson3.ipynb
29.09.2020  22:38            10я247 Lesson4.ipynb
05.10.2020  22:33            13я042 Lesson5. Reading data from Excel.ipynb
05.10.2020  22:33            11я782 Lesson5. Reading data from web-pages.ipynb
05.10.2020  23:14            85я613 Lesson6.ipynb
13.10.2020  04:57            89я179 mosbirzha.ipynb
15.10.2020  22:10            94я755 mosbirzha2.ipynb
17.10.2020  10:14            12я937 mosbirzha3(Ї®бва®Ґ­ЁҐ Ја дЁЄ®ў).ipynb
20.10.2020  18:54           183я007 qAFKS.csv
18.10.2020  10:56           113я422 SBER.csv
18.10.2020  10:56           117я504 TATN.csv
12.10.2020  22:39    <DIR>          Updated combine
26.10.2020  19:43            12я998 week_AFSK.csv
18.10.2020  10:56            60я803 YNDX.csv
17.10.2020  09:58    <DIR>          Ќ®ў п Ї ЇЄ
18.10.2020  10:57            12я230 ђ §¤Ґ«Ґ­ЁҐ д ©«  ­  ®в¤Ґ«м­лҐ Є®¬Ї ­ЁЁ.ipynb
              26 д ©«®ў      9я636я375 Ў ©в
               7 Ї Ї®Є  15я841я746я944 Ў ©в бў®Ў®¤­®

In [3]:
data = pd.read_csv('GAZP.csv', sep=',')
data

      Unnamed: 0 COMPANY        DATE    OPEN   CLOSE
0          26068    GAZP  2008-01-10  353.56  352.40
1          26069    GAZP  2008-01-11  352.75  355.91
2          26070    GAZP  2008-01-14  355.27  363.70
3          26071    GAZP  2008-01-15  364.00  360.24
4          26072    GAZP  2008-01-16  354.85  342.45
...          ...     ...         ...     ...     ...
3202       29270    GAZP  2020-09-25  174.44  173.66
3203       29271    GAZP  2020-09-26  173.62  173.77
3204       29272    GAZP  2020-09-28  174.24  172.66
3205       29273    GAZP  2020-09-29  172.67  171.40
3206       29274    GAZP  2020-09-30  171.39  171.44

[3207 rows x 5 columns]

In [4]:
GAZP.csv

NameError: name 'GAZP' is not defined

In [5]:
data['DATE'] = pd.to_datetime(data['DATE'])

In [6]:
df1 = (data.set_index('DATE')
         .groupby('COMPANY')
         .apply(lambda x: x.asfreq('D', method='ffill'))
         .reset_index(level=0, drop=True)
         .reset_index()
         .reindex(data.columns, axis=1))

In [7]:
df1

      Unnamed: 0 COMPANY       DATE    OPEN   CLOSE
0          26068    GAZP 2008-01-10  353.56  352.40
1          26069    GAZP 2008-01-11  352.75  355.91
2          26069    GAZP 2008-01-12  352.75  355.91
3          26069    GAZP 2008-01-13  352.75  355.91
4          26070    GAZP 2008-01-14  355.27  363.70
...          ...     ...        ...     ...     ...
4643       29271    GAZP 2020-09-26  173.62  173.77
4644       29271    GAZP 2020-09-27  173.62  173.77
4645       29272    GAZP 2020-09-28  174.24  172.66
4646       29273    GAZP 2020-09-29  172.67  171.40
4647       29274    GAZP 2020-09-30  171.39  171.44

[4648 rows x 5 columns]

In [8]:
df1.to_csv('qGAZP.csv', sep=';')